@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body,
#root,
.bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color:white;
}

#root{
  position:relative;
}

body {
  background: #171717;
  font-family: 'Inter var', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  line-height: 0.6em;
  letter-spacing: -2px;
  margin-top: 3rem;
  margin-left: 3rem;
  color: peru;
  text-align: left;
  display:flex;
  flex-direction:column;
  gap:2rem;
  z-index:10;
}

h1>.white{
  color:#fff;
}

h1>.sub_title{
  color:peru;
  font-weight: 700;
  font-size: 0.7em;
  line-height: 1em;
  letter-spacing: -2px;
}

h1 > span {
  white-space: pre;
}


.box {
  width: 40vmin;
  height: 25vmin;
  text-align: center;
  font-weight: bold;
  border:3px solid #ffffff;
  color:#ffffff;
}

.main_section{
  display:flex;
  flex-direction:column;
  gap:6rem;
  height:100vh;
  display:flex;
  align-items:start;
  
}

.box_title{
  font-family: 'Inter var', sans-serif;
  font-weight: 900;

}

.my-content{
  width:200px;
  background:red;
  height:5rem;
}

.project_section{
  position:relative;
  z-index:500;
  min-height:100vh;
  min-width:100vw;
  cursor:default;
 padding-bottom:2rem; 
}

.project_section>h1{
  color:white; 
  padding:5rem 0rem 0rem 5rem;
  margin:0;
}

.project_section>p{
  padding-top:1rem;
  padding-left:5rem;
  padding-bottom:2rem;
  font-weight:100;
}

.cardbox{
  background:#a5c5e050;
  width:20rem;
  height:20rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-sizing:border-box;
  padding:20px;
  cursor:pointer;
}

.cardcontainer{
  display:flex;
  gap:1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.modal {
  position: absolute;
  background:#fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width:60vw;
  height:60vh;
  color:#333;
  padding:20px;
  box-sizing:border-box;
  border:5px solid #a9c8e2a3;
  z-index: 11;
  display:flex;
  flex-direction:column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modal>button{
  border:0;
  font-size:20px;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:5px;
  right:10px;
  top: 10px;
  border-radius:10px;
  background:#a9c8e2a3;
  cursor:pointer;
  color:#fff;
}


.modal>button:hover{
  background:#fff;
  color:#ddd;
}


.skill_section,.about_section{
  min-height:100vh;
  min-width:100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill_section>h1,
.about_section>h1{
  display:flex;
  margin:0;
  padding:0;
}
.about_section{
  gap:5rem;
  position:relative;
}

.navbar{
  margin-top:20px;
  z-index:999;
  width:95%;
  display:flex;
  justify-content: end;
  position:fixed;

}

.listbox{
  list-style-type: none;
  display:flex;
  align-items:center;
  gap:2rem;
  font-weight:600;
}


.listbox>li>a{
  text-decoration:none;
  color:white;
}

.skill_section>h1,
.about_section>h1{
  padding: 5rem 0rem 0rem 5rem;
}

.about_container{
  display:flex;
  gap:2rem;
  padding:2rem;
}

.main_tab_screen{
  width:70vw;
  height:50%;
  display:flex;
  flex-direction:column;
  border-radius:10px;
  color:#333;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}


.main_tab_screen>nav{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  border-radius:10px;
}

.main_tab_screen>nav>ul{
  display:flex;
  justify-content: space-around;
  align-items:center;
  margin:0px;
  height:3rem;
  padding:0px;
  margin:0.5rem;
}

.main_tab_screen>nav>ul>li{
  list-style-type: none;
  cursor:pointer;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
}

.selected{
  color:#303030;
  border-radius:10px;
  font-weight:500;
  background:#ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main_tab_screen>.content_box{
  font-family: 'S-CoreDream-3Light';
  background:#ffffff30;
  width:100%;
  min-height:50vh;
  border-radius:10px;
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:1rem;
  box-sizing:border-box;
  border:2px solid #333;
  color:#fff;
}

.description_page{
  display:flex;
  flex-direction:column;
  
}
.skill_section{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.skill_modal{
  z-index:999;
  width:90%;
  min-height:80vh;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:auto;
  position:absolute;
  padding:3rem;
  box-sizing:border-box;
  background:#30303090;
  overflow-y:scroll;
  cursor:default;
}

.skill_modal>h1{
  color:#05ff05;
  cursor:pointer;
}


.skill_modal>nav{
  background:red;
  margin:0;
  width:50%;
}

.description_section{
  display:flex;
  justify-content:space-around; 
}

.about_headtext{
  display:flex;
  flex-direction:row;
  gap:0px;
  margin:0;
  padding:5rem 0rem 0rem 5rem;
  cursor:default;
}

.about_headtext>h1{
  color:#fff;
  margin:0;
}

.scroll_outline{
  height:3rem;
  width:2rem;
  border-radius:5rem;
  border:2.5px solid #d0d0d0;
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:20%;
  right:4rem;
  z-index:999;
}

.scroll_inline{
  height:20px;
  background:#ffffff95;
  width:25px;
  border-radius:50%;
  margin:5px;
  margin-top:20px;
}

.scroll_container{
  z-index:999;
  /* position:relative; */
}


.wrap_div{
  position:relative;
}

.scroll_typo{
  position:absolute;
  top:4rem;
  width:6rem;
  left:-2rem;
  text-align:center;
  color:#ddd;
  text-decoration:none;
  font-weight:100;
}

.scroll_down_icon{
  font-size:2rem;
  box-sizing:border-box;
  color:#fff;

}

.scroll_down_icon:hover{
  background:#d0d0d030;
  padding:3px;
  border-radius:10px;
  cursor:pointer;
}


.icon_box{
 text-align:center;
  z-index: 800;
  position:absolute;
  right:4rem;
  bottom:20%;
}

.icon_text{
  font-weight:100;
}


.icon_text{
  font-weight:100;
}

.icon_up_box{

  text-align:center;
   z-index: 800;
   position:absolute;
   right:4.5rem;
   top:20%;
 
}