@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.about_headtext{
  font-family:CWDangamAsac-Bold;
}

html,
body,
#root,
.bg {
  font-family:'S-CoreDream-3Light';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color:white;
}


#root{
  position:relative;
}

body {
  background: #171717;
  font-family: 'Inter var', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  line-height: 0.6em;
  letter-spacing: -2px;
  padding-top: 3rem;
  padding-left: 3rem;
  color: peru;
  text-align: left;
  display:flex;
  flex-direction:column;
  gap:2rem;
  z-index:10;
  box-sizing:border-box;
  font-family:EF_jejudoldam;
}

.main_section_title{
  width:100%;
  margin:0;
  padding:5rem;
}

.main_section_title>.white{
  color:#fff;
}

.main_section_title>.sub_title{
  color:#00ffa1;
  font-weight: 700;
  font-size: 0.7em;
  line-height: 1em;
  letter-spacing: -2px;
}


h1 > span {
  white-space: normal;
}


.box {
  width: 40vmin;
  height: 25vmin;
  text-align: center;
  font-weight: bold;
  border:3px solid #ffffff;
  color:#ffffff;
}

.main_section{
  display:flex;
  flex-direction:column;
  gap:6rem;
  height:100vh;
  display:flex;
  align-items:start;
}


.box_title{
  /* font-family: 'Inter var', sans-serif; */
  font-weight: 900;

}

.my-content{
  width:200px;
  background:red;
  height:5rem;
}

.project_section{
  position:relative;
  z-index:50;
  min-height:100vh;
  min-width:100vw;
  cursor:default;
  padding-bottom:2rem; 

}

.project_section>h1{
  color:white; 
  padding:5rem 0rem 0rem 5rem;
  margin:0;
}

.project_section>p{
  padding-top:1rem;
  padding-left:5rem;
  padding-bottom:2rem;
  font-weight:100;
  margin: 2rem 0rem 0rem 0rem;
  font-size:14px;
}

.cardbox{
  background:#40404070;
  width:20rem;
  height:20rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  padding:20px;
  cursor:pointer;
  gap:2rem;
}

.cardbox_title{
  margin-top:2rem;
  font-size:25px;
}
.cardbox_desc{
  font-weight:100;
  text-align:center;
  font-size:13px;
}

.cardcontainer{
  display:flex;
  gap:1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.project_modal {
  position: absolute;
  background:#40404090;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width:80vw;
  min-height:85vh;
  max-width:80vw;
  max-height:85vh;
  color:#ddd;
  padding:20px;
  box-sizing:border-box;
  z-index: 999;
  display:flex;
  flex-direction:column;
  overflow-y:scroll;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modal>button{
  border:0;
  font-size:25px;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:5px;
  right:2rem;
  top: 2rem;
  border-radius:10px;
  cursor:pointer;
  color:#fff;
  background:#40404010;
}


.modal>button:hover{
  background:#ffffff60;
  color:#ddd;
}


.skill_section,.about_section{
  min-height:100vh;
  min-width:100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill_section>h1,
.about_section>h1{
  display:flex;
  margin:0;
  padding:0;
}

.about_section{
  gap:5rem;
  position:relative;
}

.navbar{
  margin-top:20px;
  z-index:100;
  width:95%;
  display:flex;
  justify-content: end;
  position:fixed;

}

.listbox{
  list-style-type: none;
  display:flex;
  align-items:center;
  gap:2rem;
  font-weight:600;
}



.listbox>li>a{
  text-decoration:none;
  color:white;
}

.skill_section>h1,
.about_section>h1{
  padding: 5rem 0rem 0rem 5rem;
}

.about_container{
  display:flex;
  gap:2rem;
  padding:2rem;
}

.main_tab_screen{
  width:70vw;
  height:50%;
  display:flex;
  flex-direction:column;
  border-radius:10px;
  color:#333;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-40%);
}


.main_tab_screen>nav{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  border-radius:10px;
}

.main_tab_screen>nav>ul{
  display:flex;
  justify-content: space-around;
  align-items:center;
  margin:0px;
  height:3rem;
  padding:0px;
  margin:0.5rem;
}

.main_tab_screen>nav>ul>li{
  list-style-type: none;
  cursor:pointer;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
  font-weight:700;
  color:#474747;
  box-sizing:border-box;

}

.selected{
  color:#303030;
  border-radius:10px;
  font-weight:500;
  background:#ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main_tab_screen>.content_box{
  background:#30303050;
  width:100%;
  min-height:50vh;
  border-radius:10px;
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:5rem;
  box-sizing:border-box;
  color:#fff;
  line-height:2;
  text-align:center;
  overflow-y: scroll;
}

.main_tab_screen>.content_box::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 */
}
.main_tab_screen>.content_box::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}
.main_tab_screen>.content_box::-webkit-scrollbar-thumb {
  background: #555; /* 스크롤바에 호버될 때의 색상 */
}

.main_tab_screen>.content_box::-webkit-scrollbar-thumb:hover {
  background: #888; /* 스크롤바의 색상 */
}

.description_page{
  display:flex;
  flex-direction:column;
  
}
.skill_section{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.skill_modal{
  z-index:999;
  width:90%;
  min-height:80vh;
  max-height:80vh;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:auto;
  position:absolute;
  padding:3rem;
  box-sizing:border-box;
  background:#00000080;
  overflow-y:scroll;
  cursor:default;
}


.description_section{
  display:flex;
  justify-content:space-around; 
}

.about_headtext{
  display:flex;
  flex-direction:row;
  gap:0px;
  margin:0;
  padding-top:2rem;
  cursor:default;
  margin: 0 auto;
  margin-top:5rem;
}

.about_headtext>h1{
  color:#fff;
  margin:0;
  padding:0;

}

.scroll_outline{
  height:3rem;
  width:2rem;
  border-radius:5rem;
  border:2.5px solid #d0d0d0;
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:20%;  
  right:7%;
  z-index:999;
}

.scroll_up_outline{
  height:3rem;
  width:2rem;
  border-radius:5rem;
  border:2.5px solid #d0d0d0;
  display:flex;
  justify-content:center;
  position:absolute;
  top:27%;
  right:7%;
  z-index:999;
}

.scroll_inline{
  height:20px;
  background:#ffffff95;
  width:25px;
  border-radius:50%;
  margin:5px;
  margin-top:20px;
}

.scroll_up_inline{
  height:20px;
  background:#ffffff95;
  width:25px;
  border-radius:50%;
  margin:5px;
  margin-top:5px;
}

.scroll_container{
  z-index:999;
}


.wrap_div{
  position:relative;
}

.scroll_typo{
  position:absolute;
  top:4rem;
  width:6rem;
  left:-2rem;
  text-align:center;
  color:#ddd;
  text-decoration:none;
  font-weight:100;
}

.scroll_up_typo{
  position:absolute;
  top:-3rem;
  width:6rem;
  left:-2rem;
  text-align:center;
  color:#ddd;
  text-decoration:none;
  font-weight:100;
}

.scroll_down_icon{
  font-size:30px;
  box-sizing:border-box;
  color:#fff;
  width: 8rem;
}

.icon_box:hover,
.icon_up_box:hover{
  background:#d0d0d030;
  border-radius:10px;
  cursor:pointer;
}


.icon_box{
  padding:3px;
  text-align:center;
  z-index: 800;
  position:absolute;
  right:4rem;
  bottom:20%;
  width: 8rem;
}

.icon_text{
  font-weight:100;
}


.icon_up_box{
  padding:3px;
  text-align:center;
  z-index: 800;
  position:absolute;
  right:4.5rem;
  top:20%;
}

.nav_link{
  color:#fff;
  text-decoration:none;
}

.skill_description_outline{
  display:flex;
  justify-content:space-around;
  gap:2rem;
  height:100%;
}

.skill_description_box{
  flex:1;
  height:100%;
}

.level_box{
  width:100%;
  background:#303030;
  height:2px;
}

.level{
  height:100%;
  background:#05ff05;
}

.skill_item_box{
  padding:1rem;
  height:100%;
}

.skill_category_box{
  background:#00000080;
  border-bottom: 1px dashed #ffffff50;
  padding-bottom:1rem;
}

.skill_category_box:last-child{
  border-bottom: 0px;
  padding-bottom:1rem;
}


.category{
  text-align: end;
  padding: 1rem 1rem 1rem 0rem;
  color: #05ff05;
  font-style: italic;
  font-weight: 900;
  border-bottom: 1px dashed #05ff054f;
}


.category>h2{
  margin:0;
}

.category_span{
  font-weight:100;
  color:#fff;
}

.skill_item_title{
  display:flex;
  justify-content:space-between;

}

.modal_close{
  background:#d1d1d150;
  padding:0.5rem;
  border:0;
  border-radius:50%;
  font-size:3rem;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#303030;
  cursor:pointer;
  position:absolute;
  top:-1rem;
  margin:0;
  right:0rem;
}

.modal_close:hover{
  background:#303030;
  color:#f0f0f050;
}

.modal_head{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding:3rem 2rem;
  width:100%;
  box-sizing:border-box;
}

.modal_head>p{
  margin-top:2rem;
  text-align:left;
  padding-bottom:1rem;
  line-height:1.2rem;
}

.skill_modal>.modal_head>h1{
  color:#05ff05;
  cursor:pointer;
  margin:0;
  padding:0;
}


.skill_item_description{
  line-height:1.6;
}

.project_skill_item{
  background:#ffffff30;
  padding:0.5rem 1rem;
  border-radius:10px;
}

.project_datebox{
  display:flex;
  align-items:center;
  gap:0.7rem;

}
.project_skill_box{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  gap:0.5rem;
  align-items:start;
}

.project_modal_btn_head{
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:100%;
  box-sizing:border-box;
}

.project_modal_btn_head>button{
  background:#00000000;
  color:#ffffff95;
  border:0;
  font-size:3rem;
  cursor:pointer;
  padding:0;
  display:flex;
}

.project_modal_btn_head>button:hover{
  background:#00000000;
  color:#ffffff50;
}


.project_modal_head{
  display:flex;
  justify-content:start;
  align-items:center;
  gap:1.5rem;
}

.project_modal_head>h1{
  color: #00cc69;
  margin:1rem;
  padding:1rem;
  font-size:40px;
}

.project_icon{
  font-size:3rem;
  opacity:0.9;
  cursor:pointer;
}

.project_icon:hover{
  color:#ffffff30
}

.project_desc{
  font-weight:100;
}

.project_modal_big_section{
  display:flex;
  align-items:start;
  gap:1rem;
}

.project_desc_section{
  background:#35353550;
  padding:1rem;
  flex:1;
}

.project_img_section{
  background:#30303080;
  flex:1;
}


.skill_modal::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 */
}
.skill_modal::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}
.skill_modal::-webkit-scrollbar-thumb {
  background: #555; /* 스크롤바에 호버될 때의 색상 */
}

.skill_modal::-webkit-scrollbar-thumb:hover {
  background: #888; /* 스크롤바의 색상 */
}


::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 */
}::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}::-webkit-scrollbar-thumb {
  background: #555; /* 스크롤바에 호버될 때의 색상 */
}
::-webkit-scrollbar-thumb:hover {
  background: #888; /* 스크롤바의 색상 */
}

.img_btn{
  color:#ffffff;
  position:absolute;
  top:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0;
  margin:0;
  border:0;
  background:#00000050;
  font-size:1rem;
  font-weight:100;
  cursor:pointer;
  padding:10px;
  border-radius:10px;
}

.img_btn:hover{
  background:#00000030;
}

.prev_btn{
  left:2rem;
}

.next_btn{
  right:2rem;
}

.img_box{
  position:relative;
  width:35rem;
  height:30rem;
  min-width:20rem;
  min-height:15rem;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  padding:1rem;
  box-sizing:border-box;
}

.img_rect{
  max-width:100%;
  max-height: 100%;
  object-fit:contain;
  min-width:50%;
  min-height: 50%;
}

.contact_section{
  height:100vh;
  width:100vw;
}

.contact_icons{
  height:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:1rem;
}

.contact_section_headbox{
  margin:0;
  padding:1rem;
}

.contact_section_title{
  margin:0;
  padding:5rem 0rem 0rem 5rem;
  color:#00cc69;
}
.contact_section_desc{
  padding:2rem 0rem 0rem 5rem; 
}

.contact-icon{
  background:#d0d0d050;
  font-size:3rem;
  padding:1rem;
  border-radius:30%;
  cursor:pointer;
}

.contact-icon:hover{
  background:#ffffff30;
}

.contact_modal{
  position: fixed;
  z-index: 999;
  background:#40404090;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width:30vw;
  min-height:30vh;
  max-width:30vw;
  max-height:40vh;
  color:#ddd;
  box-sizing:border-box;
  overflow-y:hidden;
  padding:20px;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  display:flex;
  flex-direction:column;
}

.contact_modal>h2{
  color:#00cc69;
  margin:0;
  margin-top:1rem;
  padding-bottom:0.5rem;
  border-bottom:1px solid #ffffff30;
}


.contact_modal>p{
  font-weight:600;
  font-size:18px;
  padding:5px;
  margin:0.5rem 0rem;
}

.contact_modal>small{
  color:#00cc69;
  font-size:15px;
  font-weight:200;
}

.contact_modal>button{
  background:#ffffff50;
  padding:0.5rem;
  margin-top:0.6rem;
  border-radius:20px;
  border:0;
  box-shadow: 0.2px 0.2px 0.2px #ffffff10;
  color:#dddddd;
  cursor:pointer;
}


.contact_modal>button:hover{
  background:#dddddd80;
  color:#dddddd90;
}

.mail,.github{
  cursor:pointer;
  
  box-sizing:border-box;
  border-radius:5px;
}

.mail:hover,.github:hover,.intro_icons:hover{
  background:#dddddd30;
}

.intro_icons{
  position:absolute;
  bottom:10%;
  right:10%;
  text-decoration:none;
  text-align:center;
  font-size:15px;
  color:#fff;
  padding:5px;
  border-radius:10px;
}

.intro_icon{
  font-size:30px;
}



@media(min-width:600px){

 .project_mobile_btnbox{
   display:none;
 }
 
 .about_mobile_down{
   display:none
  }
}

@media(max-width:600px){
 

  .modal_close{
    top:1rem;
    right:1rem;
  }

  .navbar{
    font-size:15px;
    padding-top:5px;
    margin:0;
    width:100%;
    background:#171717;
    margin-right:1rem;
  }

  .main_section_title{
    gap:0.8rem;
    padding:3.5rem 2rem;
  }

  .main_section_title>.sub_title{
    font-size:20px;
  }

  .main_section_title>.main_title{
    font-size:3rem;
  }

  .about_headtext{
    padding:0;
    margin-top:4rem;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .about_headtext>h1{
    font-size:35px;
    padding:3px;
  }

  .listbox{
    gap:0.5rem;
    padding-right:1rem;
  }

  .main_tab_screen {
    width: 90vw;
    height: 75%;

  }

  .scroll_container{
    display:none;
  }

  .main_tab_screen>.content_box {
    padding:0.7rem;
    height:70%;
  }

  .main_tab_screen>.content_box>div {
    height:100%;
    font-size:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:left;
  }

  .main_tab_screen>nav>ul>li{
    font-size:14px;
  }

  .icon_up_box{
    font-size:12px;
    right: 0.5rem;
    top: 10%;
    width:8rem;
  }

  .icon_box{
    bottom:10%;
    font-size:12px;
    right: 0.5rem;
    width:8rem;
  }

  .skill_modal{
    padding:0;
    background:#303030;
  }
  .modal_head{
    padding:1.5rem;
    font-size:12px;
    border-bottom:1px solid #fff;
  }

  .skill_modal>.modal_head>h1{
    margin-top:3rem;
    font-size:35px;
    padding:0;
  }

  .modal_close{
   padding:0.5rem;
   font-size:1.5rem;
  }

  .skill_description_outline{
    flex-direction:column;
  }

  .category {
    text-align:center;
    padding:1rem;
    font-style:normal;
  }
  .category_span{
    display:none;
  }
 
  .skill_item_title{
    text-align:center;
    font-size:20px;
    margin:0;
    text-decoration:none;
    padding:0.5rem;
  }

  .skill_item_box{
    border-top:1px dashed #fff;
  }

  .project_section>h1{
    padding:0;
    padding:5rem 0rem 1rem 2rem;
    font-size:40px;
  }

  .project_section>p{
    padding:0.5rem;
    margin:1rem 1.8rem;
    font-size:13px;
    background:#ffffff30;
    line-height:1.2rem;
    border-radius:10px;
  }

  .cardbox{
    height:10rem;
    overflow:hidden;
    gap:10px;
    justify-content: center;
  }

  .cardbox_title{
    margin:0;
    font-size:20px;
  }

  .cardbox_desc{
    margin:0;
    font-size:12px;
  }

  .project_modal{
    position:fixed;
    padding:0;
    min-width: 80vw;
    min-height: 80vh;
    max-width: 95vw;
    max-height: 80vh;
    top:12%;
  }

  .project_modal_head{
    padding:0;
    margin:0;
    gap:0;
  }

  .project_modal_head>.project_icon{
    display:none;
  }

  .project_modal_btn_head{
    gap:0;
    justify-content:space-between;
    padding:1rem;
  }

  .project_modal_btn_head>button{
    gap:0;
    justify-content:center;
    font-size:2rem;
  }


  .project_modal_head>h1{
    font-size:25px;
    padding:0;
    margin:0;
  }

 .project_modal_big_section{
   flex-direction:column-reverse;
   gap:0;
 }

 .project_datebox{
  flex-direction:column;
  align-items:start;
  background: #d0d0d030;
  padding:1rem
 }

 .project_datebox>h4,
 .project_skill_box>h4{
   margin:0;
 }

 .project_skill_box{
    margin-top:1rem;
    background: #d0d0d030;
    padding:1rem;
 }

  .project_img_section{
    box-sizing:border-box;
    margin:auto;
    border-bottom:1px dashed #fff;
    padding-bottom:1rem;
  }

 .img_box{
  width: 100%;
  height: 10rem;
  min-width:100%;
  min-height: 15rem;
  object-fit: contain;
  box-sizing:border-box;
 }

 .img_btn{
   font-size:12px;
   padding:0.5rem;
 }

 .contact_modal {
  min-width:90vw;
  max-height:50vh;
  gap:15px;
 }

 .project_mobile_btnbox{
  display:flex;
  justify-content:center;
  gap:10px;
  padding:0.5rem;
 }
 .project_mobile_btn{
  border:0;
  padding:0.7rem;
  border-radius:5px;
  font-size:16px;
  display:flex;
  justify-content:center;
  gap:10px;
  background:#dddddd50;
  color:#fff;
  font-weight:300;
 }
 
.contact-icon{
  font-size:35px;
  padding:0.7rem;
}

.about_mobile_down{
  position:absolute;
  bottom:5%;
  right:10%; 
  font-size:30px;
  padding:5px;
  border-radius:10px;
  color:#fff;
  text-decoration:none;
}

.about_mobile_down:hover{
  background:#dddddd70;
}

.about_mobile_down_text{
  font-size:10px;
}

.contact_icons{
  height:30%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.contact_section_headbox{
  margin:0;
  margin-top: 5rem;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.contact_section_title{
  margin:0;
  padding:0;
}

.contact_section_desc{
  font-size:13px;
  padding:0;
  padding-top:1rem;
  text-align:center;
}


.skill_item_description{
  font-size:13px;
}
.contact_section_title{
  font-size:50px;
  color:#00cc69;
}
}

::selection { background:#00cc69; }
